div.masthead {
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/garage-default-1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

div.masthead h1,
div.masthead .h1 {
  font-size: 2.25rem;
}

@media (min-width: 992px) {
  div.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }

  div.masthead p {
    font-size: 1.15rem;
  }

  div.masthead h1,
  div.masthead .h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {

  div.masthead h1,
  div.masthead .h1 {
    font-size: 3.5rem;
  }
}

.text-white-75 {
  color: rgba(255, 255, 255, 0.75) !important;
}

hr.divider {
  height: 0.2rem;
  max-width: 3.25rem;
  margin: 1.5rem auto;
  background-color: #f4623a;
  opacity: 1;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #f4623a;
  --bs-btn-border-color: #f4623a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #cf5331;
  --bs-btn-hover-border-color: #c34e2e;
  --bs-btn-focus-shadow-rgb: 246, 122, 88;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #c34e2e;
  --bs-btn-active-border-color: #b74a2c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #f4623a;
  --bs-btn-disabled-border-color: #f4623a;
}

.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

.px-lg-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.paper {
  border-radius: 15px;
  background-color: #fff;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}