<header class="masthead">
    @if(!_registerMode){
    <div class="container px-4 px-lg-5 h-100">
        <div class="row ">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Estradistas Brotherhood</h1>
                <hr class="divider">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-0">Planeje viagens, eventos, conecte-se com outros motociclistas e motoclubes
                    e encontre serviços para sua moto em um só lugar. Dê asas a sua liberdade</p>
                <a class="btn btn-primary btn-xl" (click)="registerToggle()">Crie sua conta</a>
            </div>
        </div>
    </div>
    } @else {
    <div class="container paper">
        <div class="row justify-content-center">
            <div class="col-2">
                <app-register (closeRegisteringForm)="closeRegister($event)"></app-register>
            </div>
            
        </div>
    </div>
    }
</header>