<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Inscreva-se Gratuitamente</h2>
    <hr />
    <div class="mb-3 form-floating">
        <input type="text" class="form-control" name="username" placeholder="Usuário" [(ngModel)]="model.username" />
        <label>Usuário</label>
    </div>

    <div class="mb-3 form-floating">
        <input type="password" class="form-control" name="password" placeholder="Senha" [(ngModel)]="model.password" />
        <label>Senha</label>
    </div>

    <div class="mb-3 form-floating">
        <button class="btn btn-primary me-2" type="submit">Registrar-se</button>
        <button class="btn btn-secondary me-2" type="button" (click)="cancel()">Cancelar</button>
    </div>
    <p>Já tenho uma conta? Entrar aqui Ao aceitar, você está concordando com o nossos <a href="#TermsConditions">Termos e Condições</a>.</p>
</form>